# CSV Files and Data Frames

This exercise should get you started with handling data in Python. There is no data analysis yet, just some loading and filtering of the data. 


## Loading data from CSV
Your first step is always accessing the data. Often, the data is stored in a database or within files. One common and generic exchange format for files are Comma Separated Value (CSV) files. The first line of such a file indicates the names of the features, the following lines each contain a single instance.

First, download the ```analcatdata_bankruptcy``` dataset in the data folder and and upload it to your Jupyter notebook. 

Use the cell below to load the data from the CSV file. The data should be loaded into a _data frame_. Data frames are available in python using the ```pandas``` library. In comparison to matrices or similar types, they allow different types of columns, are usually easier to manipulate, e.g., by adding or removing rows/columns, and rows and columns can be named. 

Once you have done this, print some information about the data:
- number of instances
- number of features
- names of the features

## Remove features

If you load all data from a file, you often also load irrelevant features for a task. In case of the data you just loaded, the feature is called ```Company```. This is an ID feature for the instances in the data. Such data must often be removed before further analysis of the data. Your second task is to remove this feature from the data.

In [5]:
import pandas as pd

df = pd.read_csv("analcatdata_bankruptcy.csv")

print("Number of instances:", df.shape[0])
print("Number of features:", df.shape[1])
print("Names of features:", df.columns.tolist())

df_no_id = df.drop(columns=["Company"])
df_no_id.head()

Number of instances: 50
Number of features: 7
Names of features: ['Company', 'WC/TA', 'RE/TA', 'EBIT/TA', 'S/TA', 'BVE/BVL', 'Bankrupt']

   WC/TA  RE/TA  EBIT/TA  S/TA  BVE/BVL  Bankrupt
0    9.3   -7.7      1.6   9.1    3.726         1
1   42.6  -60.1    -10.1   0.3    4.130         1
2  -28.8 -203.2    -51.0  14.7    0.111         1
3    2.5 -433.1     -6.0  29.3    1.949         1
4   26.1  -57.4    -23.5  54.2    0.855         1

## Remove instances with missing values

Real-life data is often not clean, i.e., the data has many problems which must be addressed first, before it can be used for analysis. One common problem are missing features, i.e., not all features are available for all data. This is also the case for the data you just loaded. All missing values are marked as NA in the CSV file. 

Your third task is to remove all instances from the data, that have any missing values and store the remaining instances in a new data frame. If this works correctly, five instances should be removed. You can check this, e.g., by comparing the sizes of the data frames or printing the instances that were removed.

In [6]:
# check missing
df_no_id.isna().sum()

df_clean = df_no_id.dropna().reset_index(drop=True)

print("Rows remaining:", df_clean.shape[0])
print("Columns remaining:", df_clean.shape[1])

Rows remaining: 50
Columns remaining: 6

## Computing with data frames

Sometimes you have to compute new columns from the values of existing columns. Please append two new columns to the data frame: The sum of the columns WC/TA and RE/TA and the product of the columns EBIT/TA and S/TA.

In [7]:
# create new features on the cleaned data
df_feats = df_clean.copy()
df_feats["WC/TA+RE/TA"] = df_feats["WC/TA"] + df_feats["RE/TA"]
df_feats["(EBIT/TA)*(S/TA)"] = df_feats["EBIT/TA"] * df_feats["S/TA"]

df_feats.head()

,WC/TA,RE/TA,EBIT/TA,S/TA,BVE/BVL,Bankrupt,WC/TA+RE/TA,(EBIT/TA)*(S/TA)
0,9.3,-7.7,1.6,9.1,3.726,1,1.6,14.56
1,42.6,-60.1,-10.1,0.3,4.130,1,-17.5,-3.03
2,-28.8,-203.2,-51.0,14.7,0.111,1,-232.0,-749.70
3,2.5,-433.1,-6.0,29.3,1.949,1,-430.6,-175.80
4,26.1,-57.4,-23.5,54.2,0.855,1,-31.3,-1273.70

## Merging data frames

The next task of this exercise is to merge data frames. For this, load the data from the same CSV file as above again. Then merge the data frame with the result from task 2.4, such that:
- the dropped feature from task 2.2 is part of the merged data frame; and
- the removed instances from task 2.3 are still gone; and
- the indirectly computed features from task 2.4 are part of the merged data frame.

In [9]:

merged = df_clean.merge(
    df_feats[["WC/TA+RE/TA", "(EBIT/TA)*(S/TA)"]],
    left_index=True,
    right_index=True,
    how="left"
)
merged.head()  
merged_with_company = df[["Company"]].merge(merged, left_index=True, right_index=True)
merged_with_company.head()

,Company,WC/TA,RE/TA,EBIT/TA,S/TA,BVE/BVL,Bankrupt,WC/TA+RE/TA,(EBIT/TA)*(S/TA)
0,360Networks,9.3,-7.7,1.6,9.1,3.726,1,1.6,14.56
1,Advanced_Radio_Telecom,42.6,-60.1,-10.1,0.3,4.130,1,-17.5,-3.03
2,Ardent_Communications,-28.8,-203.2,-51.0,14.7,0.111,1,-232.0,-749.70
3,At_Home_Corp.,2.5,-433.1,-6.0,29.3,1.949,1,-430.6,-175.80
4,Convergent_Communications,26.1,-57.4,-23.5,54.2,0.855,1,-31.3,-1273.70

## Selecting subsets

Based on the data frame from task 2.5, create new data frames according to the following criteria.
- A data frame with only the rows 10 to 20 and all columns. 
- A data frame with only the columns 1 to 4 and all rows. 
- A data frame with only the columns WC/TA and EBIT/TA and all rows. 
- A data frame with all rows that have the value RE/TA less than -20 and all columns.
- A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and all columns. 
- A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and only the columns WC/TA and EBIT/TA.

In [10]:



# (a) Rows 10 to 20 inclusive (0-based indexing)
subset_rows_10_20 = merged_with_company.iloc[10:21]

# (b) Columns 1 to 4 (human-counted) → Company, WC/TA, RE/TA, EBIT/TA
subset_cols_1_4 = merged_with_company.loc[:, ["Company", "WC/TA", "RE/TA", "EBIT/TA"]]

# (c) Only WC/TA and EBIT/TA (all rows)
subset_wc_ebit = merged_with_company.loc[:, ["WC/TA", "EBIT/TA"]]

# (d) Rows with RE/TA < -20 (all columns)
subset_re_lt_20 = merged_with_company[merged_with_company["RE/TA"] < -20]

# (e) Rows with RE/TA < -20 AND Bankrupt == 0 (all columns)
subset_re_lt_20_nb0 = merged_with_company[
    (merged_with_company["RE/TA"] < -20) & (merged_with_company["Bankrupt"] == 0)
]

# (f) Same filter but only WC/TA and EBIT/TA
subset_re_lt_20_nb0_wc_ebit = merged_with_company.loc[
    (merged_with_company["RE/TA"] < -20) & (merged_with_company["Bankrupt"] == 0),
    ["WC/TA", "EBIT/TA"]
]